body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #5DE0E6, #004AAD);
    font-family: Biko, sans-serif;
}

.ocean {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #00000070, #00000000);
    z-index: -1;
    position: absolute;
}

.bubble-text {
    font-size: 5em;
    color: #a0f4f7;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    animation: pulse 5s infinite alternate forwards ease-in-out;
}

img {
    width: 20vw;
    margin: auto 0;
    display: block;
    padding-left: 2vw;
}

.img-holder {
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: #4d180e;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgb(0, 7, 32);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact,
.sponsor {
    text-align: center;
}

.contact h1,
.sponsor h1 {
    font-family: "interstate", sans-serif;
    font-style: normal;
    color: #150ee7;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #2859b3;;
    font-size: 2rem;
}

.contact h3 a,
.sponsor h3, .sponsor h3 a {
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 300;
    text-decoration: none;
}

@keyframes pulse {
    0% {
        text-shadow: 1px 1px 5px #a0f4f7, 1px 1px 5px #38bbd2;
    }

    50% {
        text-shadow: 1px 1px 15px #a0f4f7, 1px 1px 15px #38bbd2;
    }

    100% {
        text-shadow: 1px 1px 5px #a0f4f7, 1px 1px 5px #38bbd2;
    }
}