:root {
    --accent-color: hsl(44.4, 84.4%, 59.8%);
     /* hsl(120, 100%, 15.1%); */
    --heading-accent: hsl(44.4, 84.4%, 59.8%);
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-stop: always;
    height: 100%;
}

body {
    margin: 0;
    height: 120vh;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #5DE0E6, #004AAD);
    font-family: Biko, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ocean {
    height: 120vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #00000070, #00000000);
    z-index: -1;
    position: absolute;
}

.bubble-text {
    font-size: 4rem;
    color: #a0f4f7;
    text-align: center;
    margin: 0;
    animation: pulse 5s infinite alternate forwards ease-in-out;
    font-family: "Space Mono", monospace;
}

img {
    width: 18vw;
    margin: auto 0;
    display: block;
    padding-left: 2vw;
}

.img-holder {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--accent-color);
    font-size: 1.75rem;
    text-shadow: 1px 1px 2px rgb(0, 7, 32);
}

.timer {
    color: #cef1ec;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact,
.sponsor {
    text-align: center;
}

.contact h1,
.sponsor h1 {
    font-family: "Space Mono", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: var(--heading-accent);
    font-size: 2rem;
}

.contact h3 a,
.sponsor h3, .sponsor h3 a {
    font-family: "Fredoka", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 300;
    text-decoration: none;
}

.bubbles {
    position: relative;
}

.bubble {
    position: fixed;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: rgb(38, 0, 255);
    width: 100px;
    left: 50px;
    z-index: -1;
}

#footer {
    color: white;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
    z-index: 2;
    font-size: 1.05rem;
    font-family: "Inter", sans-serif;
}

#footer a {
    color: #ceeb3f;
}

@keyframes pulse {
    0% {
        text-shadow: 1px 1px 5px #a0f4f7, 1px 1px 5px #38bbd2;
    }
    50% {
        text-shadow: 1px 1px 15px #a0f4f7, 1px 1px 15px #38bbd2;
    }
    100% {
        text-shadow: 1px 1px 5px #a0f4f7, 1px 1px 5px #38bbd2;
    }
}